/* GameScreen.css */
.game-screen {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
  background-size: cover; /* Cover the entire container */
  background-repeat: no-repeat; /* Prevent image repetition */
  background-position: center; /* Center the image */
  min-height: 250px; /* minimum height  */
}

.life-display {
  position: absolute; /* Positions the life displays */
  font-size: 20px; /* Adjusts font size */
  padding: 5px 10px; /* padding */
  background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent background */
  border-radius: 5px; /* Adds rounded corners */
}

.top-left {
  top: 20px; /* Adjusts top position  */
  left: 20px; /* Adjusts left position  */
}

.top-right {
  top: 20px; /* Adjusts top position  */
  right: 20px; /* Adjusst right position   */
}

.character-container {
  display: flex; /* Use flexbox for character content */
  flex-direction: column; /* Stack lives and image vertically */
  align-items: center;  /* Center the content */
}

.character-image {
  height: 100px; /* Adjust as needed originally   100px    350px*/
  width: 100px; /* Adjust as needed */
  margin-top: 170px; /* Space between lives and image       */
  /* transform: translateY(30px); Alternative to margin-top*/
}

/* New: Flip the monster image horizontally */
.monster-image {
  transform: scaleX(-1); /* Flips the image horizontally */
}

.animate-attack {
  animation: attack 0.5s ease-in-out;
  position: absolute; /* Needed for proper animation positioning */
  /* You might need to adjust top/left/right properties here depending on your image sizes and layout */
  /* Example: */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  top: 10%; /* Adjust level of level gif */
  transform: translateY(-50%); /* Center vertically */
}

.life-display {
  /* Style for the life display */
  margin-bottom: 10px; /* Space between lives and image */
}

.animate-hurt {
  animation: hurt 0.5s ease-in-out;
  position: absolute;
  top: 10%; /* Adjusts level of hurt gif */
  transform: translateY(-50%); /* Center vertically */
}

@keyframes hurt {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* Slightly enlarges the image */
  }
  100% {
    transform: scale(1);
  }
}

.hero-attack-position {
  right: 30%; /* Value adjusts final position */
}

.monster-attack-position {
  left: 28%; /* Value adjusts final position */
}

@keyframes attack {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px); /* Value adjusts for mid-animation movement */
  }
  100% {
    transform: translateX(0);
  }
}

.score-display {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}